$btn-bg: #91c03e;
$primary-color :#075a9a;
$color: #575757;
$transition: all ease-in-out .4s;
$normal-font:  'Kurale', serif;
$bold-font: 'Raleway', sans-serif;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-35: 35px;
$margin-40: 40px;
$margin-45: 45px;
$margin-50: 50px;
$margin-55: 55px;
$margin-60: 60px;
$margin-65: 65px;
$margin-70: 70px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;
$padding-35: 35px;
$padding-40: 40px;
$padding-45: 45px;
$padding-50: 50px;
$padding-55: 55px;
$padding-60: 60px;
$padding-65: 65px;
$padding-70: 70px;