@import "../../Style/Allcss.scss";
.clBanner {
    .row {
        align-items: center;
    } 
    .banner-carousel {
        position: absolute;
        top: 55px;
        left: 30px;
        right: 30px;
    }
    .carousel-indicators{
        button {
            background-color: $primary-color;
            &.active {
                background-color: $btn-bg;
            }
        }
    }
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}
.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,700 C 0,700 0,350 0,350 C 140.1428571428571,319.82142857142856 280.2857142857142,289.64285714285717 402,307 C 523.7142857142858,324.35714285714283 627.0000000000002,389.25 732,371 C 836.9999999999998,352.75 943.7142857142856,251.35714285714286 1062,234 C 1180.2857142857144,216.64285714285714 1310.1428571428573,283.32142857142856 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    25%{
      d: path("M 0,700 C 0,700 0,350 0,350 C 82.35714285714286,298.1071428571429 164.71428571428572,246.21428571428572 292,264 C 419.2857142857143,281.7857142857143 591.5,369.25 722,382 C 852.5,394.75 941.2857142857144,332.7857142857143 1054,315 C 1166.7142857142856,297.2142857142857 1303.3571428571427,323.6071428571429 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    50%{
      d: path("M 0,700 C 0,700 0,350 0,350 C 162.39285714285717,291.6428571428571 324.78571428571433,233.28571428571428 426,234 C 527.2142857142857,234.71428571428572 567.2499999999999,294.5 674,349 C 780.7500000000001,403.5 954.2142857142858,452.7142857142857 1093,452 C 1231.7857142857142,451.2857142857143 1335.892857142857,400.6428571428571 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    75%{
      d: path("M 0,700 C 0,700 0,350 0,350 C 127.67857142857142,292.25 255.35714285714283,234.5 367,221 C 478.64285714285717,207.5 574.2500000000001,238.25 683,296 C 791.7499999999999,353.75 913.6428571428571,438.5 1042,452 C 1170.357142857143,465.5 1305.1785714285716,407.75 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    100%{
      d: path("M 0,700 C 0,700 0,350 0,350 C 140.1428571428571,319.82142857142856 280.2857142857142,289.64285714285717 402,307 C 523.7142857142858,324.35714285714283 627.0000000000002,389.25 732,371 C 836.9999999999998,352.75 943.7142857142856,251.35714285714286 1062,234 C 1180.2857142857144,216.64285714285714 1310.1428571428573,283.32142857142856 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
  }
  @media only screen and (max-width: 768px) {
    .col-sm-none  {
      display: none;
    }
  }